<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.green.when.mapper.UserMapper">
    <insert id="signup">
        INSERT INTO member_tb(userid, usernickname, userpw, useremail, role)
        VALUES (#{userid}, #{usernickname}, #{userpw}, #{useremail}, #{role})
    </insert>

    <select id="userCheck" resultType="boolean">

        SELECT IF(COUNT(userid) = 1, 1, 0) FROM member_tb
        where userid = #{userid}
    </select>

    <select id="findByUserid" resultType="MemberVo">
        SELECT * FROM member_tb
        where userid = #{userid}
    </select>

    <update id="changeUserNickname">
        UPDATE member_tb
        SET    usernickname = #{usernickname}
        WHERE  userid  = #{userid}
    </update>

    <update id="changeUserPw">
        UPDATE member_tb
        SET    userpw = #{userpw}
        WHERE  userid  = #{userid}
    </update>


</mapper>